body {
  background: #282c34;
  font-family: 'Ubuntu', sans-serif;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

.app-header {
  display: flex;
  color: white;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

.logo {
  width: 80px;
}

.app-content {
  color: white;
  margin: 0 auto;
}

.app-match-date {
  color:#2babda;
}

.app-match-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.app-match {
  padding: 20px;
}

.app-match-details__scorer-name {
  font-size: 12px;
}

.app-match-details__team {
  font-size: 30px;
}

.app-match-details__score {
  margin-top: 38px;
}